body {
  background: rgb(112, 109, 255);
  background: linear-gradient(360deg, rgba(112, 109, 255, 1) 0%, rgba(112, 109, 255, 1) 20%, rgba(255, 149, 51, 1) 100%);
  touch-action: manipulation;
}

#dialog {
  width: 300px;
}

.right {
  float: right;
}

.settings-button {
  background: black;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
}

.material-symbols-outlined {
  font-size: 20rem;
}

.faded-text {
  opacity: 0.5;
}

.hero {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.hero-icon {
  width: 100%;
  position: absolute;
  opacity: 0.25;
  z-index: -1;
}

.icon {
  width: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.egg-icon {
  width: 100px;
}

.hero-text {
  font-size: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.side-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background: #FF9533;
  cursor: pointer;
  box-shadow: 0px 20px 0px #CE7728;
  padding: 1rem;
  transition: all 250ms ease-out;

  border: 5px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-radius: 0px 30px 30px 0px;
}

.egg-button {
  border: 10px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  border-radius: 30px 0px 0px 30px;
  padding: 2.5rem 3.5rem;
}

.button:active {
  box-shadow: 0px 5px 0px 5px #CE7728;
  transform: translate(0, 10px);
}

.shop-bar {
  width: 100%;
  background: #706dff;
  padding: 1rem;
  border-top: 10px solid rgba(255, 255, 255, 0.5);
  border-bottom: 10px solid rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 1rem;
  overflow-y: scroll;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
  gap: 6px;
}

.buy-button {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  border: none;
}

.buy-button:active {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
}